<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Bootstrap HTML5">
        <meta name="keywords" content="HTML5, CSS3, JavaScript">
    </head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="css/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/estilosAG.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Alta Gama</title>
<body id="bodyX">
      <header id="inu">
        <nav class="navbar navbar-expand-lg" id="bdyx">
            <img src="img/phone.png" alt="phone" id="img1" class="ml-3">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="bdyx">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <i><h1 class="mt-4 ml-2 mr-5" id="tit8"><strong><b>ALTA GAMA</b></strong></h1></i> 
                    </li>                   
                </ul>
                <div class="collapse navbar-collapse mt-3 ml-5 titMenu pd-0" id="navbarNavDropdown">
                <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link mt-2"  id="enlaces" href="altaGama.php">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <hr id="palito">  
                <li class="nav-item">
                  <a class="nav-link ml-2 mr-2 mt-2" id="enlaces" href="#">Productos</a>
                </li>
                <hr id="palito">  
                  <li class="nav-item">
                  <a class="nav-link mt-2 mr-5" id="enlaces" href="programadores">Desarrolladores</a>
                </li>
                <li>
                <a class="btn btn-outline-dark ml-5 mt-3" href="productos">Registrar Producto</a>
                </li>
                <li>
                <a class="btn btn-outline-dark ml-3 mt-3" href="registro">Registro</a>
                </li>
            </div>
          </nav>
    </header>
    <div class="contariner">
      <div class="row justify-content-center">
        <div class="col-12" id="carousel1">
        <div class="container-all">

            <input type="radio" id="1" name="image-slide" hidden/>
            <input type="radio" id="2" name="image-slide" hidden/>
            <input type="radio" id="3" name="image-slide" hidden/>

            <div class="slide">

                <div class="item-slide">
                    <img src="img/iphone11.jpg">
                </div>

                <div class="item-slide">
                    <img src="img/iphone11.jpg">
                </div>

                <div class="item-slide">
                    <img src="img/iphone11.jpg">
                </div>

            </div>

            <div class="pagination">
            
                <label class="pagination-item" for="1">
                    <img src="img/iphone11.jpg">
                </label>
                
                <label class="pagination-item" for="2">
                    <img src="img/iphone11.jpg">
                </label>
                
                <label class="pagination-item" for="3">
                    <img src="img/iphone11.jpg">
                </label>
                
            </div>

            </div>
        </div>
      </div>
    </div>

    <
    
    <div class="container mt-5">
        <div class="row">
          <div class="col-12 md-2">
            <div class="card-deck">
            <div class="card border-dark mb-3" style="max-width: 25rem;">
                <div class="card-header text-center"><img src="img/iphone11.jpg" width="100px" height="200" class="card-img-top" alt="...">
                  </div>
                <div class="card-body text-info">
                  <h5 class="card-title text-center">Iphone 11</h5>
                  <p class="card-text">El nuevo iPhone 11 tiene un sistema de dos camaras que te permite tomar fotos con ultra gran angular, capturar excelentes fotos nocturnas con el modo Noche y grabar videos con una calidad sorprendente.</p>
                  <small><div class="alert alert-success" role="alert">$951.00 USD</div></small>
                  <a href="#" class="btn btn-outline-primary producto" precio="951" titulo="Iphone 11" role="button">Comprar</a>
                  <div class="ec-stars-wrapper">
                    <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                    <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                    <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                    <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                    <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                </div>   
                </div>
              </div>
              <div class="card border-dark mb-3" style="max-width: 25rem;">
                <div class="card-header text-center"><img src="img/lenovo.png" width="150px" height="200px" alt="Imagen"></div>
                <div class="card-body text-info">
                  <h5 class="card-title text-center">Lenovo Legion Y740</h5>
                  <p class="card-text">
                    Cuenta con un Sistema Operativo Windows 10 Home Single Language 64; una pantalla de 39,6 cm (15,6")"Antirreflejos FHD 1920x1080.
                    <br>
                    Memoria 16.0GB PC4-21300 DDR4 SODIMM SODIMM 2666MHz y un Almacenamiento 1TB 7200+128GB SSD PCIe.
                  </p>
                  <small><div class="alert alert-success" role="alert">$2090.00 USD</div></small>
                  <a href="#" class="btn btn-outline-primary producto" precio="2090" titulo="Lenovo Legion Y740" role="button">Comprar</a>
                  <div class="ec-stars-wrapper">
                    <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                    <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                    <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                    <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                    <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                  </div>
                </div>
              </div>
              <div class="card border-dark mb-3" style="max-width: 25rem;">
                <div class="card-header text-center"><img src="https://image.flaticon.com/icons/svg/919/919830.svg" width="80" height="60" alt="LOGO PHP"></div>
                <div class="card-body text-info">
                  <h5 class="card-title text-center">Lenguaje de programación PHP</h5>
                  <p class="card-text">Aplicativo en el leguaje php en la parte de Backend.</p>
                  <small><div class="alert alert-success" role="alert"> CAPACIDAD</div></small>
                  <a href="#" class="btn btn-outline-primary producto" precio="12" titulo="Iphone 11" role="button">Comprar</a>
                  <div class="ec-stars-wrapper">
                    <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                    <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                    <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                    <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                    <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                </div>
                </div>
              </div>
              <div class="card border-dark mb-3" style="max-width: 25rem;">
                <div class="card-header text-center"><img src="https://static.macupdate.com/products/51370/l/android-studio-logo.png?v=1583855374" width="70" height="70" alt="LOGO PHP"></div>
                <div class="card-body text-info">
                  <h5 class="card-title text-center">Xiaomi Redmi 8</h5>
                  <p class="card-text">Diseño y funcionamiento en aplicaciones moviles acompañado de JAVA con XML.</p>
                  <small><div class="alert alert-success" role="alert">$2000.00 USD</div></small>
                  <a href="#" class="btn btn-outline-primary producto" precio="2000" titulo="Iphone 11" role="button">Comprar</a>
                  <div class="ec-stars-wrapper">
                    <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                    <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                    <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                    <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                    <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <div class="container">
    <div class="row justify-content-center">
    <?php foreach($productos as $clave=>$valor): ?>
      <div class="card ml-5 mt-4" style="width: 18rem;">
        <img src="img/rebaja.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><?= $valor->nombreProducto?></h5>
          <small><div class="alert alert-success" role="alert">$<?= $valor->precio?>.00 USD</div></small>
          <a href="#" class="btn btn-outline-primary producto" precio="<?= $valor->precio?>" titulo="<?= $valor->nombreProducto?>" role="button">Comprar</a>
          <div class="ec-stars-wrapper">
            <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
            <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
            <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
            <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
            <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
          </div>
        </div>
      </div>
    <?php endforeach?>
    </div>
  </div>  
	<script src="js/minicart.js"></script>
	<script>
	  // configuración inicial del carrito 
	  paypal.minicart.render({
	  strings:{
	    button:'Pagar'
	   ,buttonAlt: "Total"
	   ,subtotal: 'Total:'
	   ,empty: 'No hay productos en el carrito'
	  }
	  });
	  // Eventos para agregar productos al carrito
	  
	   $('.producto').click(function(e){
	       e.stopPropagation();
		    paypal.minicart.cart.add({
			business: 'uhperezoscar@gmail.com', // Cuenta paypal para recibir el dinero
			item_name: $(this).attr("titulo"),
			 amount: $(this).attr("precio"),
			 currency_code: 'USD',
			
			});
	   });
	  
    </script>
    </div>
    <footer id="foo">
        <div class="container-fluid" id="foo1">
            <div class="row">
                <div class="col-6 mt-5" id="col1">
                    <h2>Información</h2>
                    <h6>Medellín, Colombia</h6>
                    <h6>Página oficial de Alta Gama</h6>
                    <h6>Tel. 01-8000-####</h6>
                    <h6>Correo. braleelsoftware@gmail.com</h6>
                </div>
                <div class="col-5 mt-5" id="col2">
                    <h2>Programadores</h2>
                    <h6><v id="gmail">E</v>  elickdnr@gmail.com</h6>
                    <h6><v id="gmail">E</v>  bryansteventorresrestrepo3@gmail.com</h4>
                    <h6><v id="gmail">E</v>  Eduardoleonmejia2@gmail.com</h6>
                    <h6><v id="gmail">E</v>  brandonocampodsl@gmail.com</h6>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="foo2">
            <hr style="background-color: rgba(240, 248, 255, 0.144); height: 0px; width: 80%;">
            <p align="center"> Derechos reservados | Braleel software 2020 ©</p>
        </div>
    </footer>
	
</body>
</html>




